<%= stylesheet_link_tag "about.css" %>

<div id="manjila_bio">
<h1>Manjila Nakarmi</h1>
<img src="assets/manjila_nakarmi.jpg">
<p>International Business graduate venturing into Web Development in the San Francisco Bay Area. Willing to learn new technologies and build on different skills. Would love to collaborate on new projects. Love to travel, ocassionally practice photography and be a foodie. Organized, grounded and a great communicator by nature.</p>
</div>

<div id="felix_bio">
<h1>Felix Chow</h1>
<img src="assets/felix_chow.jpg">
<p>I am a web developer student who loves to learn new things and is willing to take challenges. I have not only taken web development classes, but also acquired multiple graphic design skills, because I want to become a good web designer. I want to apply all the knowledge I have learned to my web design career. In my spare time, I sing and play instruments, watch ice hockey. I also love exploring the history of various places.</p>
</div>

<div id="terrence_bio">
<h1>Terrence Langston</h1>
<img src="assets/terrence_langston.jpg">
<p>Life can throw you up and down, but the true test is are you willing to get up and try again. No matter the obstacle, I plan to achieve great things in my life and continue learning. I have acquired a set of skills that allows me to bring value to a companies success and also my own. I look for positive vibes in every environment, and if it doesn't exist I'll create it. General Assembly Web Development Immersive has gave me a new joy on technology and web development in general.</p>
</div>

<div id="juan_bio">
<h1>Juan Carlos</h1>
<img src="assets/juan_carlos.jpeg">
<p>Systems thinking. Elegant design. Data as a story waiting to be told. These are some of my interest and motivations to delve into Front-end development.</p>
</div>
