
<header>
  <%= render '/users/partials/navbar' %>
  <h1>Welcome, <%= @user.first_name %></h1>

</header>

<main>
  <div class= "myevents">
    <h3>My Events</h3>

  </div>
  <div id="calendar">
    <!--Calendar  -->
    <img src="../assets/calendar.png" >
  </div>
</main>

<aside>
  <!-- Events -->

</aside>
