<div class="row">
<div class= "col s6 offset-s3 white center-align card-panel contact-us">
    <h3>Contact Us</h3>
      <input placeholder="Full Name">
      <input placeholder="Email Address">
      <textarea>Message</textarea>
  </div>
</div>
